

.blocks-grid {
    display: grid;
    grid-template-columns: 70px 70px 70px 70px 70px;
}

.grid {
    width: 350px;
    margin: 0 auto;
    border: 2px solid red;
}

.block {
    margin: 1px;
    background: black;
    height: 70px;
}

